[filesystem "Oracle Corporation|13|/dev/disk1s1"]
	timestampResolution = 7000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "AdoptOpenJDK|1.8.0_222|/dev/disk1s1"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
[user]
	name = marcus.lorenzana
	email = marcus.lorenzana@ilendx.com
[core]
	autocrlf = input
[alias]
	l = log --oneline
	c = commit -m 
	co = checkout
	cob = checkout -b
	undo = reset HEAD~1 --mixed
	alias = config --get-regexp alias
	amend = commit -a --amend
