[user]
	name = meestermarcus
	email = lorenzanamarcus@gmail.com
[core]
	autocrlf = input
[alias]
	l = log --oneline
	c = commit -m 
	co = checkout
	cob = checkout -b
	undo = reset HEAD~1 --mixed
	alias = config --get-regexp alias
	amend = commit -a --amend
